<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container ">
  <form [formGroup]="FeedbackForm" *ngIf="data|async" (ngSubmit)="onSubmit()">
    <div class="contact-info shadow-sm p-3 mb-5 bg-white rounded">
      <h2 class="message">
        Your Feedback!
      </h2>
    </div>

    <div class="container_in shadow p-3 mb-5 bg-white rounded">
      <div class="name">
        <span class="field">Name*:</span>
        <label>
          <div>
            <input
              class="form-control"
              type="text"
              formControlName="name"
              placeholder="Your Name *"
            />
          </div>
        </label>
      </div>
      <div class="email">
        <span class="field">Email*:</span>
        <label>
          <input
            class="form-control"
            type="text"
            formControlName="email"
            placeholder="Your Email *"
          />
        </label>
      </div>

      <div class="review">
        <span class="radio_1">
          <label>
            <input type="radio" formControlName="feedback" value="Great" />
            Great
          </label>
        </span>
        <span class="radio_2">
          <label>
            <input type="radio" formControlName="feedback" value="Okay" />
            Okay
          </label></span
        >
        <span class="radio_3">
          <label>
            <input type="radio" formControlName="feedback" value="Not good" />
            Not good
          </label>
        </span>
      </div>

      <div class="comment">
        <span class="field">Comment:</span>
        <label>
          <input
            class="form-control"
            type="text"
            formControlName="comment"
            placeholder="Comment"
          />
        </label>
      </div>
      <div>
        <button class="submit btn btn-primary">Submit</button>
        <span style="color: red; margin-left: 10px">* - Required Fields</span>
      </div>
    </div>
  </form>
</div>
