<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div *ngFor="let admin of admins | async">
  <div class="container shadow-lg p-3 mb-5 bg-white rounded">
    <p class="para">
      <span style="font-size: 30px;">{{ admin.Name }}</span>
      <br />
      <span style="color: gray;">{{ admin.Roll }}</span>
      <br />
      <br />

      <span>
        <a href="mailto: {{ admin.Email }}">
          <i
            class="ic fa fa-envelope"
            style="font-size:30px; padding-right: 20px;"
          ></i
        ></a>
      </span>
      <span>
        <a href="{{ admin.github_user }}">
          <i
            class="ic fa fa-github"
            style="font-size:30px; padding-right: 10px;"
          ></i
        ></a>
      </span>
    </p>
  </div>
</div>
